.wrapper{
    
    width: 1600px;

}
.header{
    width: 1600px;
    height: 100px;
}
.main{
    width: 1600px;
    margin-bottom: 274px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
}
.container{
display: grid;
grid-template-rows:  1fr 1fr 1fr;
background-image: url(../images/Rectangle\ 31.png);
background-size: no-repeat;
background-position: center;
background-size: cover;
height: 900px;
width: 1600px;
color: white;
}
.header{
    display: grid
    
}
.nav{
display: grid;
grid-template-columns: 1fr 1fr 1fr;


}
.logo{
    color:white;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    margin-right: 172px;
    
    
}
.logo{
    font-family: ribeye;
    font-size: 24px;
    margin-top: 42px;
    margin-left: 230px;
}
.menu-link{
    display: grid;
    color: white;
}
.menu-item{
    
    list-style-type: none;
}
.button{
    width: 163px;
    height: 51px;
    margin: 35px 230px 200px 85px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;

}
.button-1{
    width: 163px;
    height: 51px;
    margin:0px 1183px 264px 230px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    
}
h1{
    display: flex;
    width: 804px;
    height: 154px;
    margin: 208px 578px 30px 218px;
    font-family: gelasio bold;
    font-size: 65px;
}
p{
    display: flex;
    width: 458px;
    height: 87px;
    margin: 30px 912px 40px 230px;
    font-family: roboto regular;
    font-size: 18px;
    line-height: 160%;
}
.container-2{
    display: grid;
    width: 1140px;
    height: 688px;
    justify-content: center;
    margin-left: 230px;  
    
}
.location{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 500px 500px 500px;
    column-gap: 20px;
      height: 500px;
    margin-left: 230px;  

}
h3{
    display: flex;
    justify-content: center;  
    margin-top: 140px;
    font-family: gelasio;
    font-size: 43px;
}
.text-area-1{
display: flex;
justify-items: center;
width: 735px;
height: 58px;
margin-left: 433px;
margin-right: 432px;
margin-bottom: 50px;
margin-top: 20px;
font-family: roboto;
font-size: 18px;
line-height: 160%;
}
.text-area-5{
display: flex;
justify-items: center;
width: 581px;
height: 58px;
font-family: roboto;
font-size: 18px;
line-height: 160%;
margin-left: 510px;
margin-left: 510px;
margin-bottom: 56px;

}
.container-3{
    display: grid;
    
    
}
.attraction{
    display: grid;
    
    

justify-content: start;
width: 1140px;

}
.banff{
    width: 554px;
    height: 635px;
    margin-left: 230px;
}
.japan{
    margin-left: 800px;
    margin-top: 56px;

}
.india{
    margin-left: 800px;
}
.naltar{
    margin-left: 800px;
}
h4{
    margin: 35px 10px ;
    font-family: gelasio;
    font-size: 20px;
}
.text-area-6{
    margin-right: 116px;
    margin-bottom: 10px;
    font-family: roboto;
    font-size: 18px;
}
.instagram{
    font-family: roboto bold;
    font-size: 20px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 1600px;
    height: 348px;
    
    
}
.name{
    font-family: ribeye;
    font-size: 24px;
    margin: 70px 169px 40px 231px;
}
.contact{
    font-family: roboto;
    font-size: 16px;
    margin:0px 107px 10px 231px;
}
.instagram-4{
    font-family: roboto;
    font-size: 16px;
    margin: 0px 107px 20px 231px;  
}
.icons{
    margin: 0px 132px 108px 231px;
}

.button-send{
    width: 103px;
    height: 44px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
